
.chooser-header{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
}

.chooser-input-wrapper{
    display: flex;
    flex: 1;
    align-items: center;
}

.chooser-input-wrapper input{
    width:100%;
}

.buttons-wrapper{
    vertical-align: middle;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.buttons-wrapper button{
    margin: 2px;
}

.chooser-body{
      display: flex;
    margin-bottom: 15px;
}

.chooser-body > * {
    flex: 1;
}

.chooser-center-container {
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
}

.chooser-center-container select{
  margin: 5px;
}

.chooser-container select{
      width: 100%;
}

.groups {
    overflow-y: auto;
}

